.textarea {
  width: 100%;
  resize: none;
  height: 160px;
  border-radius: 12px;
  outline: none;
  padding: 12px;
  border: 2px solid var(--primary-light);
  background: var(--background);
  color: var(--text);
  font-size: 1.1rem;
  box-shadow: 0 2px 12px 0 var(--accent);
  transition: border 0.3s, box-shadow 0.3s;
}

.textarea:focus {
  border: 2px solid var(--primary);
  box-shadow: 0 4px 24px 0 var(--primary-light);
}
